<!DOCTYPE html>
<html>
  <body>
    <h1>Actividad Framework Django</h1>
    <p>Crear una pagina maquetada en HTML y CSS con los siguientes parametros:</p>
    <ol>
      <li>Definicion</li>
      <li>Funcion</li>
      <li>Estructura</li>
      <li>Ventajas</li>
      <li>Desventajas</li>
      <li>Ejemplos de Empresas</li>
      <li>Subir a un Repositorio de GitHub</li>
    </ol>
<iframe width="300" src="https://www.youtube.com/embed/srkMntDfil4?si=YsYY0oRKHiJIJAbf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </body>
</html>
